<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://weatherfunctions333.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4252bf83-ec94-4240-9bab-a6c14099c01a/resourceGroups/WeatherRg/providers/Microsoft.Web/sites/weatherfunctions333</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://weatherfunctions333.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>